<h1 mat-dialog-title>Editar</h1>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div>
            <mat-form-field appearance="fill">
                <mat-label for="title">Título</mat-label>
                <input matInput type="title" formControlName="title" aria-describedby="titleHelp" placeholder="Título">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label for="title">Subtítulo</mat-label>
                <input matInput type="title" formControlName="subtitle" aria-describedby="subTitleHelp" placeholder="Subtítulo">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" class="my-textarea-field">
                <mat-label for="title">Descripción</mat-label>
                <textarea matInput type="title" formControlName="description" aria-describedby="decscriptionHelp" placeholder="Descripción" class="my-textarea"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label for="title">Información adicional</mat-label>
                <input matInput type="title" formControlName="extraInfo" id="titleInput" aria-describedby="extraInfoHelp" placeholder="Más">
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{edited: true, data: this.form.value}" cdkFocusInitial>Aceptar</button>
    <button mat-button [mat-dialog-close]="{edited: false, data: this.form.value}">Cancelar</button>
</div>