<div *ngIf="loaded">
<app-header [headerData]="portfolioData.headerData"></app-header>
<app-experience [experienceProps]="portfolioData.experienceData.experienceData"></app-experience>
<app-education [educationProps]="portfolioData.experienceData.educationData"></app-education>
<app-languages [languagesProps]="portfolioData.skillsData.languagesData"></app-languages>
<app-softskills [softSkillsProps]="portfolioData.skillsData.softSkillsData"></app-softskills>
<app-projects [projectsProps]="portfolioData.experienceData.projectsData"></app-projects>
<app-awards [awardsProps]="portfolioData.experienceData.awardsData"></app-awards>
</div>
