@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sessionButton{
    float: right;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
    //box-shadow: 2px 2px 7px rgb(27, 27, 27);
}

.argLogo{
    width: 200px;
    margin-left: 20px;
}

.banner{
    margin-top: 40px;
    margin-left: 0px;
    border-radius: 0.5%;
    //box-shadow: 4px 4px 10px rgb(27, 27, 27);
}

.profilePic{
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
    //box-shadow: 3px 3px 14px rgb(27, 27, 27);
}

.aboutLogo{
    margin-left: 100px;
}

.aboutHead{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:azure;
    margin-top: 15px!important;
}

.headline{
    color:azure;
}

.section-title{
    color:azure;
}


.about-text{
    color:azure;
}


.social-icon{
    font-size: 25px;
    color: azure;
    padding-right:10px;
    padding-top:20px;
    float:left;
}

.social-icon-text{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color: azure;
    padding-top:23px;
    padding-right: 20px;
    float:left;
    margin-bottom: 0px;
    margin-top: 0px;
}