
<nav>
    <img class="argLogo" src="assets/images/APLogo.png">
    <button mat-raised-button color="primary" class="sessionButton">Login</button>
    <button mat-raised-button color="primary" class="sessionButton">Signup</button>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img class="img-responsive banner" src="assets/images/Banner.jpg">
      </div>
  
      <div class="col-md-4">
        <div class="aboutLogo">
          <img class="profilePic" src="assets/images/profile.jpg">
          <p class="aboutHead">Julián Máximo Cabrera</p>
          <p class="headline">Full Stack Developer</p>
          <hr>
          <h1 class="section-title">ACERCA DE</h1>
          <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
  
  <hr>
  
  <br>
  <br>
