<div>
  <nav>
    <img class="argLogo" src="assets/images/APLogo.png">
    <div style="display: flex; float:right">
      <div href="#" class="fa fa-google social-icon"></div>
      <p class="social-icon-text">juliaximo@gmail.com</p>
      <div href="#" class="fa fa-linkedin social-icon"></div>
      <p class="social-icon-text">proximamentesoloencines</p>
      <button *ngIf="!isLoggedIn()" mat-raised-button color="primary" class="sessionButton mat-elevation-z7" (click)="goToPage('login')">Log in</button>
      <button mat-raised-button color="primary" class="sessionButton mat-elevation-z7" (click)="goToPage('register')">Signup</button>
      <button *ngIf="isLoggedIn()" mat-raised-button color="primary" class="sessionButton mat-elevation-z7" (click)="logOut()">Log out</button>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img class="img-responsive banner mat-elevation-z7" src="assets/images/Banner.jpg">
      </div>
  
      <div class="col-md-4">
        <div class="aboutLogo">
          <img class="profilePic mat-elevation-z10" src="assets/images/profile.jpg">
          <p class="aboutHead">{{headerData.fullname}}</p>
          <p class="headline">{{headerData.profession}}</p>
          <hr>
          <h1 class="section-title">Acerca de</h1>
          <p class="about-text">{{headerData.aboutText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>