<div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <!--<div class="example-box" *ngFor="let item of items, index as i" cdkDrag>
    <app-portfolio-item [props]="item"></app-portfolio-item>
    </div>-->
    <div class="item-button">
        <button mat-mini-fab (click)="openCreateDialog()"><mat-icon>add</mat-icon></button>
    </div>

    <div *ngFor="let item of items, index as i" [@deleteAnim]="i===deletedElement? 'disappear' : 'appear'"
    [@insertAnim]="(i===0 && created)? 'disappear' : 'appear'">
        <app-portfolio-item class="example-box" [props]="item" (deleteItem)="deleteIndex(i)" cdkDrag></app-portfolio-item>
    </div>
</div>
</div>
