:root {
    --angle: conic-gradient(#7d2ae8 3.6deg, #ededed 0);
}

.softskills-background{
    background-color: rgb(70, 20, 106);
    padding-top: 80px;
    overflow: auto;
}

.big-section-title{
    color:azure;
    font-size: 40px!important;
    padding-left: 20px;
}

.circle-progress-container{
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
    float: left;
}