<div class="languages-background">
    <h1 class="big-section-title"><strong>Idiomas</strong></h1>
    <!--<div class="circle-progress-container">
        <app-round-progress [props]="circularDefault"></app-round-progress>
    </div>
    <div class="circle-progress-container">
        <app-round-progress [props]="circularDefault"></app-round-progress>
    </div>-->
    <!--<div class="circle-progress-container">
        <app-round-progress [props]="circularDefault"></app-round-progress>
    </div>
    <div class="circle-progress-container">
        <app-round-progress [props]="circularDefault"></app-round-progress>
    </div>
    <div class="circle-progress-container">
        <app-round-progress [props]="circularDefault"></app-round-progress>
    </div>-->

    <div *ngFor="let item of languagesProps" class="circle-progress-container">
        <app-round-progress [props]="circularDefault" [progressData]="item"></app-round-progress>
    </div>
</div>
