
<nav>
  <img class="argLogo" src="assets/images/APLogo.png">
  <button mat-raised-button color="primary" class="sessionButton">Login</button>
  <button mat-raised-button color="primary" class="sessionButton">Signup</button>
</nav>

<div class="row">
  <div class="col-sm-7">
    <img class="banner" src="assets/images/Banner.jpg">
  </div>

  <div class="col-sm-5">
    <div class="aboutLogo">
      <img class="profilePic" src="assets/images/profile.jpg">
      <p style="font-family: 'Roboto', sans-serif; color:azure">Julián Máximo Cabrera</p>
    </div>
  </div>
</div>