
.sessionButton{
    float: right;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
}

.argLogo{
    width: 200px;
    margin-left: 20px;
}

.banner{
    margin-top: 20px;
    margin-left: 100px;
    width: 800px;
}

.profilePic{
    width: 200px;
    border-radius: 50%;
}

.aboutLogo{
    margin-left: 100px;
}

.aboutHead{
    font-family: 'Roboto', sans-serif;
    color:azure;
}