<div style="display:flex; align-items: center; justify-content: center; height: 100vh">
<mat-card style="min-width:320px; max-width: 400px; text-align: center; border-radius:7%; background-color:rgb(63, 81, 181); color:azure">
  <p class="login-text"><strong>Iniciar sesión</strong></p>
  <hr style="width: 70%; padding-bottom: 10px">
  <form [formGroup]="form" class="m-5" (ngSubmit)="onSubmit($event)">

    <div style="padding-bottom: 15px">
      <p style="color:azure">Usuario</p>
      <mat-form-field color="accent" style="padding-bottom: 15px; width:100%">
        <!--<mat-label for="username">Usuario</mat-label>-->
        <input matInput type="username" formControlName="username"
        id="usernameInput" aria-describedby="userHelp" style="width: 100%">
        <mat-placeholder>Usuario</mat-placeholder>
      </mat-form-field>
      <div *ngIf="Username?.errors && Username?.touched">
        <p *ngIf="Username?.hasError('required')" class="text-danger">
          Este campo es obligatorio
        </p>
      </div>
    </div>

    
    <div style="padding-bottom: 15px">
      <p style="color:azure">Contraseña</p>
      <mat-form-field color="accent" style="padding-bottom: 15px; width:100%">
        <input matInput type="password" formControlName="password"
        id="exampleInputPassword1" style="width: 100%">
        <mat-placeholder>Contraseña</mat-placeholder>
      </mat-form-field>
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
          La contraseña es requerida
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
          Debe tener al menos 8 caracteres
        </p>
      </div>
    </div>

    <div>
      <h3>Nota:</h3>
      <p style="word-break: break-word">La primera vez, el login puede tardar un tiempo o requerir varios intentos ya que el backend se hostea con un plan gratuito en el cual el servicio web se encuentra desactivado y se reactiva cada vez que se recibe una solicitud</p>
    </div>


    <button mat-raised-button color="warn">Enviar</button>
  </form>
</mat-card>
</div>