
<h1 class="big-section-title">Educación</h1>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="assets/images/logo_poli.png" class="img-responsive">
    </div>
    <div class="col-md-7">
      <p class="portfolio-text" style="font-size:20px">Estudios secundarios</p>
      <p class="portfolio-text" style="margin-top:40px; font-size: 20px">Instituto Politécnico Superior</p>
      <p class="portfolio-text" style="margin-top:10px;">Técnico en Informática Profesional y Personal</p>
    </div>
    <div class="col-md-3">
      <p class="portfolio-text" style="font-size: 30px">2017 - 2022</p>
    </div>
  </div>
</div>
