.my-mat-card{
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color:rgba(63, 81, 181, 1);
}

.portfolio-text{
    color: azure;
}

.item-button{
    padding-top:15px;
}
