<mat-card class="my-mat-card mat-elevation-z7">
    <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img [src]="props.imgSrc" class="item-image">
          </div>
          <div class="col-md-5">
            <p class="portfolio-text" style="font-size:30px">{{props.title}}</p>
            <p class="portfolio-text" style="margin-top:40px; font-size: 20px">{{props.subtitle}}</p>
            <p class="portfolio-text" style="margin-top:10px;">{{props.description}}</p>
          </div>
          <div class="col-md-4">
            <p class="portfolio-text" style="font-size: 20px" [innerText]="props.extraInfo"></p>
          </div>
          <div class="col-md-1">
            <div class="item-button">
                <button mat-mini-fab (click)="openDialog()"><mat-icon>edit</mat-icon></button>
            </div>
            <div class="item-button">
                <button mat-mini-fab (click)="askIfDeleteDialog()"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </div>
    </div>
</mat-card>
