<div style="display:flex; align-items: center; justify-content: center; height: 100vh">
    <mat-card style="min-width:320px; max-width: 400px; text-align: center; border-radius:7%; background-color:rgb(63, 81, 181); color:azure">
        <h1 style="padding-left: 20px; padding-right: 20px"><strong>Error de conexión con el servidor</strong></h1>
        <hr style="width: 70%; padding-bottom: 10px">
        <div style="padding-right: 40px; padding-left: 40px">
            <p style="word-break: break-word" align="justify">El backend de este sitio se encuentra hosteado con un plan gratuito, que puede presentar demoras en las primeras solicitudes debido a un tiempo de activación del servidor. Puede requerir varios intentos.</p>
            <p>Disculpe las molestias.</p>
        </div>
    </mat-card>
</div>
