  <div class="experience-background">
    <h1 class="big-section-title">Experiencia</h1>
    <mat-card class="my-mat-card mat-elevation-z7">
    <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/logo-profile2.png">
          </div>
          <div class="col-md-7">
            <p class="portfolio-text" style="font-size:40px"><strong>Profile</strong></p>
            <p class="portfolio-text" style="margin-top:40px; font-size: 20px">Desarrollador Full Stack</p>
            <p class="portfolio-text" style="margin-top:10px;">Práctica Profesional</p>
          </div>
          <div class="col-md-3">
            <p class="portfolio-text" style="font-size: 30px">Junio 2022 -</p>
            <p class="portfolio-text" style="font-size: 30px; padding-top: 10px">Noviembre 2022</p>
          </div>
        </div>
    </div>
    </mat-card>

    <app-portfolio-item [props]="experienceProps"></app-portfolio-item>
  </div>